@model IEnumerable<Toyota.Data.Entities.Model>

@{ ViewData["Title"] = "All Models"; }

<h1>Models</h1>

<p>
    <a asp-action="CreateModels" class="btn btn-primary">Create New</a>
</p>
<div class="row">

    @foreach (var item in Model)
    {
<div class="col-3">
    <div class="card">
        <img class="admin_color_thumb" src="@Html.DisplayFor(modelItem => item.ImgUrl)" />
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
            <a asp-action="ModelsModifications" asp-route-id="@item.Id" class="btn btn-primary">Modifications</a>
        </div>

    </div>
</div>}

</div>

<br /> <br />
<h1>Colors</h1>
<p>
    <a asp-action="CreateColors" class="btn btn-primary">Create New</a>
</p>
<div class="row">

    @foreach (var color in ViewBag.OpenColors)
    {
<div class="col-3">
    <div class="card">
        <img class="admin_colors_thumbs" src="@color.ImgUrl" /> 
        <div class="card-body">
            <h5 class="card-title">@color.Name</h5>
        </div>
    </div>
</div>}

</div>