@model IEnumerable<Toyota.Data.Entities.Modification>

@{ 
    ViewData["Title"] = "Modification for " + @ViewBag.OpenModel.Name;
    string aId;
    string hId;
    string cId;
}

<h1>Model: @ViewBag.OpenModel.Name</h1>
<img src="@ViewBag.OpenModel.ImgUrl" class="admin_models_thumbs">.

<p>
    <a asp-action="CreateModifications" class="btn btn-primary">Create New Modification</a>
</p>
<div class="row">
    @{ 
        aId = "accordionModifications" + @ViewBag.OpenModel.Id;
    }
    <div class="accordion" id=@aId>
        @foreach (var item in Model){
            {
                hId = "heading" + @item.Id;
                cId = "collapse" + @item.Id;
            }
        <div class="accordion-item">

            <h2 class="accordion-header" id=@hId>
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=#@cId aria-expanded="true" aria-controls="collapse@item.Id">
                    <h5 class="card-title">
                        <img class="accordion_modification_thumbs" src="@Html.DisplayFor(modelItem=>item.ImgUrl)" />
                        @Html.DisplayFor(modelItem => item.Name)
                    </h5>
                </button>
            </h2>

            <div id=@cId class="accordion-collapse collapse show" aria-labelledby=@hId data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>
                        @foreach(var color in item.ModificationColors)
                {
                            <img class="admin_colors_thumbs" src="@color.Color.ImgUrl" />
                }
                    </p>
                    <p>
                        <a asp-action="CreateModificationColors" class="btn btn-primary">Add new modification color</a>
                    </p>
                </div>
            </div>

        </div>     

        }
    </div>
</div>